body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#navigation {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
}

/* LOGO */

.logo {
    font-family: 'Niconne', cursive;
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.logo a {
    color: #A1D490;
    text-decoration: none;
}

.logo a:hover {
    color: #fff;
}

/* NAVIGATION */

.navlinks {
    font-size: 12px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.navlinks ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

.navlinks li {
    padding: 0px 15px;
}

.navlinks a {
    color: #fff;
    text-decoration: none;
}

.navlinks a:hover {
    color: #A1D490;
}

/* PRODUCT */

.products {
    padding: 20px;
}

.product_box {
    border: 1px solid #eee;
    padding: 20px;
}

.info_box {
    display: flex;
    flex-wrap: wrap;
}

.spacer {
    width: 20px;
    height: 20px;
}

.product_image {
    width: 200px;
    height: auto;
    padding-bottom: 20px;
}

.product_deets h3 {
    margin: 0;
}

.product_desc {
    font-size: 12px;
    line-height: 18px;
    max-width: 400px;
}

.product_price {
    font-weight: bold;
}

.review_text {
    font-size: 12px;
    line-height: 18px;
}

.review_name {
    color: #999;
    font-style: italic;
}
